<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fellowship.Properties.Settings.FellowshipConnectionString"
            connectionString="Data Source=.;Initial Catalog=Fellowship;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
	<runtime>
		<NetFx40_LegacySecurityPolicy enabled="true"/>
	</runtime>
</configuration>