<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NestleICSales.Properties.Settings.MainConnectionString"
            connectionString="Data Source=.;Initial Catalog=Nestle;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="NestleICSales.Properties.Settings.AccessConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Accessdb.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>