<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NICAccessTools.Properties.Settings.dbConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db.mdb"
            providerName="System.Data.OleDb" />
        <add name="NICAccessTools.Properties.Settings.cfgConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\cfg.mdb"
            providerName="System.Data.OleDb" />
        <add name="NICSQLTools.Properties.Settings.dbConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db.mdb"
            providerName="System.Data.OleDb" />
        <add name="NICSQLTools.Properties.Settings.cfgConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\cfg.mdb"
            providerName="System.Data.OleDb" />
        <add name="NICSQLTools.Properties.Settings.IC_DBConnectionString"
            connectionString="Data Source=.;Initial Catalog=IC_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>