<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SchoolWeeklyPeriods.Properties.Settings.eschoolConnectionString"
            connectionString="Data Source=.;Initial Catalog=eschool;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>