<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Members.Properties.Settings.MemberCardConnectionString"
        connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\MemberCard.mdb"
        providerName="System.Data.OleDb" />
    <add name="Members.Properties.Settings.TeachersUnionConnectionString"
        connectionString="Data Source=.;Initial Catalog=TeachersUnion;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
