<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="log4net"
          type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    <log4net>

      <appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" >
        <sink value="tcp://localhost:7070/LoggingSink" />
        <lossy value="false" />
        <bufferSize value="1" />
        <onlyFixPartialEventData value="true" />
      </appender>

      <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
        <param name="File" value="Log4Net\DataCenterLog4Net.txt" />
        <param name="AppendToFile" value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <param name="Header" value="[Header]\r\n" />
          <param name="Footer" value="[Footer]\r\n" />
          <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
        </layout>
      </appender>

      <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
        <layout type="log4net.Layout.PatternLayout">
          <param name="Header" value="[Header]\r\n" />
          <param name="Footer" value="[Footer]\r\n" />
          <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
        </layout>
      </appender>

      <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
        <remoteAddress value="localhost" />
        <remotePort value="7071" />
        <layout type="log4net.Layout.XmlLayoutSchemaLog4j" />
      </appender>

      <root>
        <level value="Debug" />
        <appender-ref ref="UdpAppender" />
        <appender-ref ref="RemotingAppender" />
        <appender-ref ref="LogFileAppender" />
      </root>
    </log4net>
</configuration>